html
{
  overflow-x: hidden;
  overflow-y: hidden;
}

body
{
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
}

.GameHolder
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
  background: linear-gradient(#e4e0ba, #f7d9aa);
}

#world 
{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Header 
{
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.Score 
{
  width: 100%;
  margin: 2em 0 0;
  text-align: center;
  white-space: nowrap;
}

.ScoreContent 
{
  position: relative;
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
}

.ScoreLabel 
{
  font-size: 9px;
  position: relative;
  margin: 0 0 0.5em 0;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #d1b790;
}

.ScoreValue 
{
  font-family: 'Playfair Display';
  font-weight: bold;
  color: #d1b790;
}

.ScoreValueEnergy 
{
  position: relative;
  width: 60px;
  height: 8px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #d1b790;
}

.EnergyBar 
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  background-color: #f25346;
  -webkit-animation-name: none;
  animation-name: none;
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.Message 
{
  font-weight: bold;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}

.MessageReplay 
{
  font-size: 1.25vw;
  bottom: 40vh;
  display: none;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  color: #d1b790;
}

.MessageInstructions 
{
  font-family: 'Playfair Display';
  font-size: 0.85em;
  bottom: 8vh;
  letter-spacing: 0.2em;
  color: #68c3c0;
}

/* Avoid red objects text */
.MessageInstructions span 
{
  display: block;
  color: #d6483b;
  white-space: nowrap;
}

@-webkit-keyframes blinking 
{
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blinking 
{
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 40em) 
{
  .Header 
  {
    font-size: 0.75em;
    top: 6.5em;
  }
}
